.classico-titulo{
    font-size: 3rem;
    text-align: center;
    color: #111111;
    padding: 120px 0 60px 0;
}

.classico-subtitulo{
    font-size: 2rem;
    text-align: center;
    color: #565656;
    
}

.classico{
    font-size: 1.15rem;
    font-weight: 500;
    color: #111111;
    max-width: 50ch;
    padding: 100px 20px 20px 20px;
    display: block;
    margin: auto;
}


.classico-img{
    max-width: 600px;
    padding:  20px 0px;
    margin: 0 auto;
    border-radius: 4px;
}

