.classico-titulo{
    font-size: 3rem;
    text-align: center;
    color: #111111;
    padding: 60px 0;
}

.classico-subtitulo{
    font-size: 2rem;
    text-align: center;
    color: #565656;
    padding-bottom: 20px;
}

.classico{
    font-size: 1.15rem;
    font-weight: 500;
    color: #111111;
    max-width: 50ch;
    margin-top: 40px;
    margin-bottom: 40px;
}


.classico-img{
    max-width: 600px;
    margin-bottom: 120px;
}