/* 
efeito paralax desktop
#bg-monte-pauz{
    background-image: url(../img/classico/Mount_Paozu-bg.jpg);
    background-attachment: fixed;
    background-repeat: round;
} */

.classico-titulo{
    font-size: 3rem;
    text-align: center;
    color: #111111;
    padding: 120px 0 0 0;
}

.classico-subtitulo{
    font-size: 2rem;
    text-align: center;
    color: #565656;
    padding-top: 60px;
    
}


.classico{
    font-size: 1.15rem;
    font-weight: 500;
    color: #111111;
    max-width: 50ch;
    padding: 100px 20px 20px 20px;
    display: block;
    margin: auto;
}

.classico-img{
    border-radius: 4px;
    padding-bottom: 80px;
}

.classico-container{
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
}

.classico-container-img{
    padding: 40px 20px;
    border-bottom: 1px solid #dbdbdb;
    max-width: 600px;
    margin: 0 auto;
}

@media(max-width:450px){

    .classico-titulo{
        padding: 80px 0 60px 0;
        font-size: 2.5rem;
    }

    .classico-subtitulo{
        font-size: 1.5rem;
    }

    .classico{
        padding: 60px 20px 20px 20px;
        font-size: 0.80rem;
    }
}

