body, h1, h2, h3, h4, p, ul, a, img{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

img{
    width: 100%;
    display: block;
}

.img img{
    max-width: 600px;
    margin: 0 auto;
    object-fit: cover;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.cabecalho-nav{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 20px 0;
    justify-content: center;
}

.cabecalho-nav a{
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
}

.cabecalho-nav a::after{
    content: "";
    display: block;
    height: 1px;
    width: 0px;
    background-color: #ffffff;
    transition: 0.3s;
}

.cabecalho-nav a:hover::after{
    width: 100%;
}

footer{
    padding: 60px 20px;
}

footer h3{
    font-size: 1.5rem;
}

footer h4{
    padding: 24px 0;
    font-size: 1.25rem;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 180px;
}

footer li{
    padding: 4px 0;
    white-space: nowrap;
}

footer a:hover{
    color: #c0c0c0;
}

.footer-redes{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap:  10px;
    align-items: center;
}

footer p{
    text-align: center;
    padding-top: 60px;
}

@media(max-width:910px){

    .cabecalho-nav a{
        font-size: 1.25rem;
    }

    .container{
        max-width: 650px;
    }

    .footer-redes{
   

        gap: 6px;
    }
}

@media(max-width:800px){
    .cabecalho-nav{
        gap: 80px;
    }

    .cabecalho-nav a{
        font-size: 1.15rem;
    }

    footer .container{
        gap: 100px;
    }
}


@media(max-width:650px){
    .cabecalho-nav{
        gap: 40px;
    }

    .img img{
        max-width: 400px;
    }
}

@media(max-width:650px){
    .cabecalho-nav{
        gap: 40px;
    }

    .cabecalho-nav a{
        font-size: 1rem;
    }

    footer .container{
        gap: 60px;
    }

    footer h3{
        font-size: 1.2;
    }

    footer h4{
        font-size: 1rem;
    }

    footer a {
        font-size: 0.85rem;
    }
}

@media(max-width:500px){
    .cabecalho-nav{
        gap: 20px;
    }

    .cabecalho-nav a {
        font-size: 0.85rem;
    }

    footer .container{
        grid-template-columns: 1fr;
    }
    
}

@media(max-width:400px){
    .cabecalho-nav{
        gap: 16px;
    }

    .cabecalho-nav a {
        font-size: 0.75rem;
    }
    
    footer .container{
        gap: 40px;
        text-align: center;
    }

    .footer-redes{
        grid-template-columns: 20px 10ch;
        justify-content: center;
    }
}