/* NESTE DOCUMENTO FICARÁ TODAS AS CONFIGURÇÕES DE ESTILOS GLOBAIS DE TODO O SITE */

/* RESETANDO CONFIGURAÇÕES PADRÕES HTML*/
body, h1, h2, h3, h4, p, ul, a, img{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

/* TODAS AS IMAGENS TERÃO 100% DE LARGURA DO SEU CONTAINER*/
img{
    width: 100%;
    display: block;
}

/* TIRANDO SUBLINHADO PADRÃO DOS LINKS */
a{
    text-decoration: none;
}

/* TIRANDO ESTILO PADRÃO DOS ITENS DAS LISTAS */
li{
    list-style: none;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

/* CONTAINER USADO PARA PADRONIZAR O TAMANHO DE ALGUNS ITENS QUE SERÃO USADOS POR TODO O SITE COMO : header, footer, div E ETC...*/
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}


/* ALINHANDO LINKS DO CABEÇALHO UM AO LADO AO OUTRO */
.cabecalho-nav{
    display: flex;
    flex-direction: row;
    gap: 100px;
    place-items: center;
    justify-content: center;
}

.cabecalho-nav img{
    width: 90px;
}

/* CONFIGURAÇÕES DE ESTILO DOS LINKS DO CABEÇALHO*/
.cabecalho-nav a{
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    padding: 0px 10px;
}

/* DETALHE DE INTERAÇÃO DOS LINKS DO CABEÇALHO */
.cabecalho-nav a::after{
    content: "";
    display: block;
    height: 1px;
    width: 0px;
    background-color: #ffffff;
    transition: 0.3s;
}

.cabecalho-nav a:hover::after{
    width: 100%;
}


/* PADDINGS FOOTER*/
footer{
    padding: 60px 20px;
}

/* TITULO PRINCIPAL DO FOOTER */
footer h3{
    font-size: 1.5rem;
}

/* DESCRIÇÕES DOS LINKS DO FOOTER*/
footer h4{
    padding: 24px 0;
    font-size: 1.25rem;
}

/* MODIFICAÇÃO DO CONTAINER PRINCIPAL PARA O FOOTER TRANSFORMANDO-O EM GRID COM TRÊS COLUNAS*/
footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 180px;
}

footer li{
    padding: 4px 0;
    white-space: nowrap;
}

/* INTERAÇÃO COM LINKS DO FOOTER */
footer a:hover{
    color: #c0c0c0;
}

/* GRID FEITO PARA POSICIONAR OS SVGs DAS REDES SOCIAIS */
.footer-redes{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap:  10px;
    align-items: center;
}

footer p{
    text-align: center;
    padding-top: 60px;
}


/* CONFIGURAÇÕES DE RESPONSIVIDADE */
@media(max-width:910px){

    .cabecalho-nav img{
        width: 70px;
    }

    .cabecalho-nav a{
        font-size: 1.25rem;
    }

    .container{
        max-width: 650px;
    }

    .footer-redes{
   

        gap: 6px;
    }
}

@media(max-width:800px){
    .cabecalho-nav{
        gap: 80px;
    }

    .cabecalho-nav a{
        font-size: 1.15rem;
    }

    footer .container{
        gap: 100px;
    }
}


@media(max-width:650px){
    .cabecalho-nav img{
        width: 60px;
    }

    .cabecalho-nav{
        gap: 60px;
   
    }

    .img img{
        max-width: 400px;
    }
}

@media(max-width:650px){
    .cabecalho-nav{
        gap: 40px;
    }

    .cabecalho-nav a{
        font-size: 1rem;
    }

    footer .container{
        gap: 60px;
    }

    footer h3{
        font-size: 1.2;
    }

    footer h4{
        font-size: 1rem;
    }

    footer a {
        font-size: 0.85rem;
    }
}

@media(max-width:500px){
    .cabecalho-nav img{
        width: 30px;
    }

    .cabecalho-nav{
        gap: 16px;
        padding: 0;
    }

    .cabecalho-nav a {
        font-size: 0.75rem;
    }

/* DIMINUINDO O NUMERO DE COLUNAS DO GRID DO FOOTER */
    footer .container{
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }
    
    .footer-redes{
        grid-template-columns: 20px 10ch;
        justify-content: center;
    }
}