#cabecalho-home{
    padding: 14px 0;
}

/* TITULO INICIAL DA HOME*/

.titulo-ini{
    font-size: 3rem;
    text-align: center;
    padding: 100px 0 60px 0 ;
    color: #000D44;
}

/* POSICIONAMENTO DO PNG DO GOKU */
#goku-png{
    margin-bottom: -13px;
}

.img img{
    max-width: 600px;
    margin: 0 auto;
    object-fit: cover;
}

/* COMPORTAMENTO DOS PARÁGRAFOS DENTRO DO FUNDO LARANJA ESCURO DA HOME */
.bg-laranja-escuro .container p{
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    font-weight: 500;
}

/* PADDINGS DO CONTAINER DO SAGAS */
.sagas-home{
    padding: 160px 0;
}

/* TITULO INTRODUÇÃO A SAGAS */
.sagas-home h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 120px;
}

/* SCROLL HORIZOTAL DO CONTAINER SAGAS */
.sagas-escolha{
    display: flex;
    max-width: 1400px;
    gap: 40px;
    padding: 0 80px;
    margin: 0 auto;
    overflow-x: auto;
}

/* ALTURA IMGS SAGAS*/
.sagas-escolha img{
    height: 350px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    border-radius: 20px;
}

.sagas-escolha li{
    min-width: 500px;
    padding-bottom: 20px;
}

/* TITULOS DAS SAGAS */
.sagas-escolha h3{
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    color: #111111;
}

/* CONFIGURAÇÕES DE RESPONSIVIDADE */
@media(max-width:800px){
    .titulo-ini{
        font-size: 2.5rem;
    }

    .sagas-home{
        padding: 80px 0;
    }

    .sagas-home h2{
        font-size: 2.5rem;
        margin-bottom: 60px;
    }

    .sagas-escolha h3{
        font-size: 1.5rem;
    }

    .sagas-escolha{
        padding: 0 20px;
    }

    .sagas-escolha li{
        min-width: 400px;
    }

    .sagas-escolha img{
        height: 300px;
    }
}

@media(max-width:650px){
    .titulo-ini{
        font-size: 2rem;
        padding: 60px 0 40px 0 ;
    }

    #goku-png{
        margin-bottom: -9px;
    }

    .bg-laranja-escuro .container p{
        font-size: 1.0rem;
        line-height: 1.4rem;
    }

    .sagas-home h2{
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .sagas-escolha li{
        min-width: 300px;
    }

    .sagas-escolha img{
        height: 200px;
    }
}

@media(max-width:400px){
    #cabecalho-home{
        padding:  4px;
    }

    .titulo-ini{
        font-size: 1.3rem;
        padding: 40px 0 20px 0 ;
    }

    .sagas-home h2{
        font-size: 1.5rem;
        margin-bottom: 40px;
    }

    .sagas-escolha h3{
        font-size: 1.2rem;
    }

    .sagas-escolha li{
        min-width: 220px;
    }

    .sagas-escolha img{
        height: 170px;
    }
}



