
  #titulo-personagens{
    text-align: center;
    padding: 140px 0 60px 0;
    font-size: 4rem;
    font-weight: 700;
}

#personagens{
    overflow-x: hidden;
}

.personagens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 20px;
    gap: 40px;
    align-items: center;
    box-sizing: border-box;
}

.personagens li{
    padding: 12px 0;
    text-align: center;
}

.personagens h3{
    font-size: 2.5rem;
    color: #000D44;
}

.personagens img{
    max-width: 350px;
}

/* .direita{
    animation: direita-para-esquerda 0.5s ease-in;
}




.esquerda{
    animation: esquerda-para-direita 0.5s ease-in;
}


@keyframes direita-para-esquerda{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes esquerda-para-direita{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
     
}*/
@media(max-width:600px){

    #titulo-personagens{
        font-size: 3rem;
    }

    .personagens li p{
        font-size: 0.80rem;
    }
}

@media(max-width:500px){
    #titulo-personagens{
        padding: 80px 0 0 0;
        font-size: 2.8rem;
    }

    .personagens{
        grid-template-columns: 1fr;
    }

    .personagens img{
        grid-row: 2;
    }
}