/* A IDEIA INICIAL ERA DEIXAR IMAGENS COM EFEITO PARALAX NO FUNDO REPRESENTANDO CADA MOMENTO DE ACORDO COM O ARCO DA HISTÓRIA
efeito paralax desktop
#bg-monte-pauz{
    background-image: url(../img/classico/Mount_Paozu-bg.jpg);
    background-attachment: fixed;
    background-repeat: round;
} */


/* TITULOS INICIAIS DAS SAGAS*/
.sagas-titulo{
    font-size: 3rem;
    text-align: center;
    color: #111111;
    padding: 120px 0 0 0;
}

/* SUBTITULOS*/
.sagas-subtitulo{
    font-size: 2rem;
    text-align: center;
    color: #565656;
    padding-top: 60px;
    
}

/* CONTAINER QUE DELIMITA TAMANHO DA PÁGINA */
.sagas-container{
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
}

/* PADDINGS E MARGINS DO CONTEÚDO DA PÁGINA */
.sagas{
    font-size: 1.15rem;
    font-weight: 500;
    color: #111111;
    max-width: 50ch;
    padding: 100px 20px 20px 20px;
    display: block;
    margin: auto;
}


/* CONFIGURAÇÕES DE DISTÂNCIA ENTRE IMAGEM E TEXTO */
.sagas-img{
    border-radius: 4px;
    padding-bottom: 80px;
}

/* ICONE DE DIVISÃO DE HISTÓRIA */
.sagas-container-img{
    padding: 40px 20px;
    border-bottom: 1px solid #dbdbdb;
    max-width: 600px;
    margin: 0 auto;
}


/* RESPONSIVIDADE DAS PÁGINAS SAGAS */
@media(max-width:450px){

    .sagas-titulo{
        padding: 80px 0 60px 0;
        font-size: 2.5rem;
    }

    .sagas-subtitulo{
        font-size: 1.5rem;
    }

    .sagas{
        padding: 60px 20px 20px 20px;
        font-size: 0.80rem;
    }
}

